<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../<%=color%>">
    <title>Commandes</title>
</head>
<body>
<%-include("banner.ejs", {}) %>
<br>
<div class="content-menu">
    <div class="content-ordi-accesoire">
        <%if (data.length < 1) {%>
            <p>Votre historique est vide</p>
        <%}%>
        <% for(let i = 0; i < data.length; i++){ %>
            <div class="products">
                <img src=<%- "Image/" + data[i].image %>>
                <div class="info">
                    <% if (data[i].idAcheteur === id) {%>
                        <p>acheté</p>
                    <%}else {%>
                        <p>Vendu</p>
                    <%}%>
                        <p class="info-title"><%- data[i].name%><p>
                    <p><%- data[i].description %><br><br><b><%- data[i].price %>€</b></p>
                    <form action="/<%= data[i].id %>" method="post">
                        <input type="hidden" name="id" value="<%- data[i].id%>">
                        <input type="hidden" name="idUser" value="<%- data[i].idUser%>">
                        <input type="hidden" name="price" value="<%- data[i].price%>">
                        <input type="hidden" name="name" value="<%- data[i].name%>">
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</div>

<div class="buttom-container">
    <div class="top-button">
        <a href="#top">Retour en haut</a>
    </div>
</div>
</body>
</html>