<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Commandes</title>
</head>
<body>

  <%-include("banner.ejs", {}) %>

  <form action="/Commandes" method="POST">
      <div class="ajouter-un-produit">
          <span class="details">Titre</span><br>
          <textarea class="text" type="text"  name="titre" rows="10" cols="40" required></textarea>
          <br>
          <br>
          <span class="details">Description</span><br>
          <textarea class="text" type="text"  name="description"rows="10" cols="40" required></textarea>
          <br>
          <br>
          <span class="details">Prix (en €)</span><br>
          <input class="number" type="number"  name="adresse"rows="2" cols="4" min="1" max="5000" required>
          <br>
          <br>
          <span class="details" for="date">Image du produit:</span><br><br>

          <input  type="file" id="image" name="image" accept="image/x-png,image/jpeg" required>
          <br>
          <br>
          <br>
          <a href="/Commandes"> <input  type="submit" id="ajouter-produit" name="Mettre le produit en vente" required></a>
          <br>
      </div>
  </form>
  <div class="commandes">
      <div class="produit-acheter">
          <span class="details">Produit acheter</span><br>
      </div>
      <div class="produit-vendu">
          <span class="details">Produit vendu</span><br>
      </div>
      <div class="produit-en-vente">
          <span class="details">Produit en vente</span><br>
          <% for(let i = 0; i < product.length; i++){ %>
              <div class="products">
                  <img src=<%- product[i].image %>>
                  <div class="info">
                      <p><%- product[i].description %><br><br><b><%- product[i].price %>€<br><br><b><%-product[i].manufacture%></b></b>
                      </p>
                      <a href="panier.ejs"><input type="submit" name="laptop1" class="button1" value="Ajouter au panier"></a><br>
                      <a href="paiment.html"><input type="submit" name="laptop1" class="button2" value="Procéder au paiment"></a>
                  </div>
              </div>
          <% } %>

          </div>

      </div>
  </div>
</body>
</html>