<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <%-include("banner.ejs", {}) %>
    <h1>
        <%= products.name %>
    </h1>
    <p><img src= "Image/" + <%= products.image%> /></p>
    <p>Price:
        <%= products.price%> €
    </p>
    <p>Description:
        <%= products.description%>
    </p>
<br>

</body>
</html>