<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../<%=color%>">
    <title>Title</title>
</head>
<body>
<%if (data.length < 1) {%>
    <p>Il n'y a pas encore de vente pour le moment ...</p>
<%}%>
<% for(let i = 0; i < data.length; i++){ %>
    <div class="products">
        <img src=<%- "Image/" + data[i].image %>>
        <div class="info">
            <p class="info-title"><%- data[i].name%><p>
            <p><%- data[i].description %><br><br><b><%- data[i].price %>€</b></p>
            <% if (data[i].idUser===IDUSER){%>
                <a href="/edit/<%= data[i].id%>"><input type="submit" class="button2" value="Edit"></a>
                <form action="/delete" method="post">
                    <input type="hidden" name="id" value="<%=data[i].id%>">
                    <input type="submit" name="delete" class="button2" value="Delete">
                </form>
            <%}else{%>
                <form action="/acheter" method="post">
                    <input type="hidden" name="id" value="<%- data[i].id%>">
                    <input type="hidden" name="idUser" value="<%- data[i].idUser%>">
                    <input type="hidden" name="price" value="<%- data[i].price%>">
                    <input type="hidden" name="name" value="<%- data[i].name%>">

                    <input type="submit" name="laptop1" class="button2" value="Acheter">
                </form>
                <%}%>
        </div>
    </div>
<% } %>
</body>
</html>